@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap') screen;
@import url('https://glyphsearch.com/bower_components/ionicons/css/ionicons.css') screen;

html,
body {
    font-family: 'Poppins', sans-serif;
}

*,
*:before,
*:after {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(105.18deg, #9A05EB -2.04%, #9A05EB 107.42%);
    border-bottom: 1px solid #ffffff1a;
}
header a {
    text-decoration: none;
}

.down {
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    position: absolute;
    right: 19px;
    top: 38px;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    border: 2px solid #9A05EB;
    background: #fff !important;
    position: relative;
    top: 2px;
}
.getEarly {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    background: #000000;
    border-radius: 30px;
    padding: 15px 40px;
    color: #FFFFFF;
    text-decoration: none;
}

.getEarly:hover {
    background: #111;
    color: #FFFFFF;
}

.bukableColor {
    color: #9A05EB
}

.newimg img {
    z-index: 10;
    width: 1000px;
    height: 614.8px;
    top: -50px;
    height: auto;
    width: 100%;
    position: relative;
    z-index: 10;
    top: -100px;
}

.form-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 14px 24px;
    position: absolute;
    width: 158px;
    height: 45px;
    left: 194px;
    top: 448px;
    background: #9A05EB;
    border-radius: 30px;
}

.menu {
    display: flex;
}

.menu-items {
    display: flex;
    gap: 50px;
    font-weight: 700;
    align-items: center;
}

.menu-items li {
    size: 14px;
    color: #fff;
    align-items: center;
    cursor: pointer;
}

.menu-items li.active {
    border-bottom: 1px solid #F4F5F7;
}

.wrapper button {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    border: none;
    color: #ffffff;
    letter-spacing: -0.16px;
    cursor: pointer;
    background: #000000;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-top {
    padding: 70px 127px 119px;
    background: linear-gradient(105.18deg, #9A05EB -2.04%, #9A05EB 107.42%);
    background-size: cover;
    color: #fff;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 32px;
}

.content-top h1 {
    font-weight: 900;
    font-size: 60px;
    line-height: 80px;
    letter-spacing: 0.5px;
    padding-bottom: 13px;
    text-align: center;
}

.content-top p {
    font-size: 25px;
    line-height: 35px;
    letter-spacing: -0.5px;
    text-align: center;
}


/* .content-top p:first-child {
	padding-bottom: 32px;
} */

.content-description {
    padding: 37px 130px 0px;
}


/*Description-items*/

.description-items {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
    padding-top: 50px;
    padding-bottom: 85px;
}

.description-items__item {
    background: #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 380px;
    height: 380px;
    padding: 128px 0px 130px 32px;
}

.description-items__item h2 {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 133% */
    font-feature-settings: 'salt' on, 'liga' off;
    padding-bottom: 12px;
}

.description-items__item p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #FFFFFF;
    width: 310px;
}

.bg_1 {
    background: url(../img/bg_1.svg) 32px 40px #000000 no-repeat;
}

.bg_2 {
    background: url(../img/bg_2.svg) 33px 0px #000000 no-repeat;
}

.bg_3 {
    background: url(../img/bg_3.svg) 34px 24px #000000 no-repeat;
}


/* Get Access*/

.content-get-access {
    padding: 0 130px 44px;
    gap: 70px;
    background-color: #F1E4FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-get-access .title {
    padding-bottom: 9px;
    padding-top: 46px;
}

.sale-card {
    background: #F1E4FF;
    padding: 49px 26px;
    gap: 20px
}

.sale-card .description {
    height: auto;
}

.sale-card .heading {
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    /* identical to box height, or 100% */
    letter-spacing: 1px;
    text-transform: uppercase;
    font-feature-settings: 'salt' on, 'liga' off;
    /* Text / Gray 900 */
    color: #18191F;
}

.sale-card .text {
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #18191F;
    width: 319px;
}


/*Wall of love*/

.wall-of-love {
    background: #F1E4FF;
}

.wall-of-love .wrapper {
    padding: 64px 165px 96px;
}
.nav-link {
    font-size: 18px;
    font-weight: 700 !important;
}
.overviews {
    padding-top: 40px;
    gap: 30px;
    overflow: hidden;
}

.overviews__item .text {
    height: 192px;
    width: 330px;
    border-radius: 10px;
    text-align: center;
    background: #FFFFFF;
    padding: 42px 40px 30px 40px;
    position: relative;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #18191F;
    font-family: 'Poppins';
    box-shadow: 0px 10px 20px #e6e1eb;
}

.overviews__item .arrow {
    height: auto;
    width: 27px;
    position: relative;
    top: -27px;
}

.overviews__item .about {
    text-align: center;
}

.overviews__item .about .name {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #18191F;
}

.overviews__item .about .company {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #474A57;
}


/*Form*/

.form-wrapper {
    padding: 70px 0px;
}

.form-content {
    padding-top: 30px;
}

.form-content .input {
    padding-bottom: 26px;
}

.form-content .input input[name="name"],
.form-content .input input[name="email"] {
    width: 100%;
    height: 52px;
    padding: 14px 16px;
    background: #F4F5F7;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
}

.form-content .input input[name="terms"] {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.form-content .input input[name="terms"]+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.form-content .input input[name="terms"]+label::before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    flex-shrink: 0;
    flex-grow: 0;
    background: #E2DBDB;
    border: 1px solid #BFB5B5;
    box-sizing: border-box;
    border-radius: 2px;
    margin-right: 0.5em;
    background-size: 50% 50%;
}


/* стили для активного состояния чекбокса (при нажатии на него) */

.form-content .input input[name="terms"]:checked+label::before {
    border-color: #0b76ef;
    background-color: #0b76ef;
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.form-content button {
    max-width: 162px;
}

.form-content .input select {
    position: relative;
    width: 100%;
    height: 52px;
    padding: 14px 16px;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
    -webkit-appearance: none;
    appearance: none;
    background-color: #F4F5F7;
    background-image: linear-gradient(45deg, transparent 50%, #000000 50%), linear-gradient(135deg, #000000 50%, transparent 50%);
    background-position: calc(100% - 20px) calc(20px + 2px), calc(100% - 15px) calc(20px + 2px), 100% 0;
    background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
    background-repeat: no-repeat;
}

.form-content .input select:active {
    background-image: linear-gradient(45deg, #000000 50%, transparent 50%), linear-gradient(135deg, transparent 50%, #000000 50%);
    background-position: calc(100% - 15px) 20px, calc(100% - 20px) 20px, 100% 0;
    background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
    background-repeat: no-repeat;
    border-color: grey;
}


/*footer*/

footer {
    background: url("../img/footer_bg.svg") #000000 no-repeat;
    background-position: 0px 0px;
    background-size: cover;
}

footer .footer-top {
    padding: 39px 100px 31px;
    border-bottom: 1px solid #ffffff1a;
}

footer .footer-top .apps>div:first-child {
    color: #FFFFFF;
    padding-right: 32px;
}

footer .footer-top .apps .apps-content {
    gap: 18px;
}

footer .footer-bottom {
    padding: 15px 126px 31px;
}

footer .footer-bottom .rights {
    color: #FFFFFF;
}

footer .footer-bottom .rights img {
    padding: 0px 10px;
}

footer .footer-bottom .social-links {
    gap: 20px;
}


/*Commons*/
#contact label {
    cursor: pointer;
}
#contact option {
    background-color: #9a05eb;
    color: #e6e1eb;
}
#contact select > option:hover {
    background-color: yellow;
}
#contact select:focus > option:checked { 
    background: #e6e1eb !important;
    color: #000 !important;
}
#contact .form-select:focus {
    border-color: #9a05eb !important;
    outline: 0;
    box-shadow: none;
}
#contact .form-control:focus {
    border-color: #9a05eb !important;
    outline: 0;
    box-shadow: none;
}
#contact .form-check-input:focus {
    border-color: #9a05eb;
    outline: 0;
    box-shadow: none;
}
#contact a {
    color: #9a05eb;
}
#contact a:hover {
    color: #9a05eb;
    text-decoration: none;
}
#contact .form-check-input:checked {
    background-color: #9a05eb;
    border-color: #9a05eb;
}
button.form-button-access {
    border-radius: 30px;
    padding: 14px 24px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    background-color: #9A05EB;
    text-align: center;
    color: #fff;
    text-decoration: none;
}
button.form-button-access:hover {
    background-color: #7507b1;
    color: #fff;
}

.radius-30 {
    border-radius: 30px;
    padding: 19px 27px 20px;
}

.section-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 45px;
    color: #000000;
    padding-bottom: 15px;
}

.section-title_wall_of_love {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 45px;
    text-align: left;
    color: #000000;
    padding-bottom: 15px;
}

.text-description {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #18191F;
}

.description-content-get-access {
    font-style: normal;
    text-align: left;
    color: #18191F;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.5px;
    width: 636px;
}

.description-content-get-access_2 {
    font-style: normal;
    text-align: left;
    color: #18191F;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.5px;
}

.link {
    text-decoration: underline;
    color: #9A05EB;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    padding-left: 5px;
}
.form-select, .form-control {
    background: #F4F5F7 !important;
}



@media screen and (max-width:767px) {
    .copyright {
        font-size: 11px !important;
    }
    .app {
        width: 123px;
        /* height: 32px; */
    }
    .section-title_wall_of_love {
        font-size: 20px;
        padding-bottom: 0;
    }
    .wall-of-love .text-description {
        font-size: 12px;
    }
    .navbar {
        display: flex;
        justify-content: flex-end !important;
    }
    .btn:focus {
        outline: none !important;
        box-shadow: none !important;
    }
    .getEarly {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 24px;
        display: flex;
        align-items: center;
        letter-spacing: -0.16px;
        color: #FFFFFF;
        padding: 9px 15px;
    }

    .newimg img {
        top: -80px;
    }
	.content-top h1 {
		font-family: 'Poppins';
        font-style: normal;
        font-weight: 800;
        font-size: 28px !important;
        line-height: 35px !important;
        padding: 0px 0px 10px !important;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.5px;
        color: #FFFFFF;
	}
	.content-top p {
		font-family: 'Poppins';
        font-style: normal;
        font-weight: 500 !important;
        font-size: 13px !important;
        line-height: 20px !important;
        display: flex;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
        margin: 0px 0px 34px;
	}
	.light_box {
		height: 0px;
	}
    .newimg {
        height: auto;
        width: 100% !important;
        z-index: 10;
        top: 0px;
        position: relative;
        height: 99px !important;
        top: 0px;
        padding: 0 25px;
    }
    .action-button {
        padding-top: 30px !important;
        padding-bottom: 70px;
        text-align: center;
    }
    header {
        height: auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        width: 100%;
    }
    .sale-card .heading {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 18px;
        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-feature-settings: 'salt' on, 'liga' off;
        color: #000000;
    }
    .sale-card .text {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        color: #000000;
        width: 230px;
        height: 67px;
    }
    .description-content-get-access_2 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        color: #000000;
    }
    .owl-stage-outer {
        width: 547px;
    }
    .owl-prev,
    .owl-next {
        top: 65%;
    }
    .content-top {
        background: #9A05EB 0px -70px no-repeat;
        background-size: cover;
        color: #fff;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 81px;
        font-family: "Poppins";
    }
    .description-items {
        flex-direction: column;
        gap: 15px;
        padding-bottom: 30px;
        padding-top: 20px;
    }
    .description-items__item {
        box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
        border-radius: 20px;
        width: auto;
        height: auto;
        padding: 90px 26px 50px;
    }
    .bg_1 {
        background: url(../img/bg_1.svg) 24px 40px #000000 no-repeat;
    }
    .bg_2 {
        background: url(../img/bg_2.svg) 24px 0px #000000 no-repeat;
    }
    .bg_3 {
        background: url(../img/bg_3.svg) 24px 24px #000000 no-repeat;
    }
    .description-items__item p {
        width: 100%;
        word-wrap: break-word;
    }
    .description-content-get-access {
        text-align: center;
        width: 283px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #000000;
    }
    .content-description {
        padding: 90px 13px 0px 13px;
    }
    .wall-of-love .wrapper {
        padding: 64px 15px;
    }
    .wall-of-love .wrapper .overviews__item .text {
        height: auto !important;
        width: 90%;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #000000;
    }
    .form-wrapper {
        padding: 50px 41px;
    }
    .form-wrapper .action {
        display: flex;
        justify-content: center;
    }
    .radius-form-button {
        width: 150px;
    }
    .section-title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 800;
        font-size: 20px;
        line-height: 30px;
        align-items: center;
        text-align: center;
        color: #18191F;
        padding-bottom: 20px;
    }
    .title {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .content-get-access {
        padding: 0px 13px 25px 13px;
        flex-direction: column;
        text-align: center;
        background-color: #F1E4FF;
		gap: 36px
    }
    .sale-card {
        gap: 15px;
        padding: 15px 0px 15px 0px;
    }
    .sale-card .icon {
        width: 40%;
    }
    .sale-card .icon img {
        width: 50px;
        height: 50px;
    }
    .sale-img img {
        width: 260px;
        height: 200px;
        position: relative;
        top: 55px;
    }
    .sale-img {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 130px;
    }
    .terms,
    .terms a {
        font-size: 9px;
    }
    footer {
        background: url(../img/footer_bg_mobile.svg) #000000 center bottom no-repeat;
        background-size: contain;
    }
    footer .footer-top {
        padding-bottom: 10px;
    }
    footer .rights {
        width: 60%;
        display: block !important;
    }
    footer .rights img {
        height: 12px;
        padding: 0px !important;
    }
    footer .footer-logo {
        padding-bottom: 44px;
        display: flex;
        justify-content: center;
    }
    footer .apps {
        font-weight: 500;
        font-size: 12px;
        line-height: 28px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
    }
    footer .footer-bottom {
        justify-content: center !important;
        flex-direction: row;
        align-items: center;
        padding: 10px 0px;
    }
    footer .rights {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
    }
    .coming_soon {
        text-align: center;
        padding-right: 0px !important;
        padding-bottom: 13px;
    }
    .apps-content {
        padding-bottom: 38px;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .action-button {
        padding-top: 30px !important;
        padding-bottom: 180px;
        text-align: center;
    }
    .content-top h1 {
        font-family: 'Poppins';
font-style: normal;
font-weight: 800;
font-size: 48px;
line-height: 45px;
/* or 125% */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.5px;

color: #FFFFFF;
    }
    .content-get-access {
        flex-direction: column;
    }
    .description-items {
        flex-direction: column;
        gap: 15px;
        padding-bottom: 30px;
        padding-top: 20px;
        align-items: center;
    }
    footer .footer-top .apps>div:first-child {
        color: #FFFFFF;
        padding-right: 1em;
    }
    .newimg img {
        top: -177px;
    }
    .newimg {
        height: 370px;
    }
    .coming_soon {
        text-align: center;
    }
}

@media screen and (min-width:992px) and (max-width:1199px) {
    .newimg img {
        height: 615px;
        width: 800px;
        z-index: 10;
        position: absolute;
        top: -298px;
        padding: 0px 13px;
    }
    header {
        height: 65px;
        padding: 23px 0px 12px 22px;
    }
    .owl-stage-outer {
        width: 547px;
    }
    .owl-prev,
    .owl-next {
        top: 65%;
    }
    .content-top {
        background: #9A05EB 0px -70px no-repeat;
        background-size: cover;
        color: #fff;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        padding-left: 35px;
        padding-right: 35px;
        padding-top: 81px;
        font-family: "Poppins";
        padding-bottom: 250px;
    }
    .content-top h1 {
        font-family: 'Poppins';
font-style: normal;
font-weight: 800;
font-size: 48px;
line-height: 60px;
/* or 125% */

text-align: center;
letter-spacing: 0.5px;

color: #FFFFFF;
    }
    .content-top p {
        font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 25px;
/* or 156% */

text-align: center;
letter-spacing: -0.5px;

color: #FFFFFF;
width: 813px;
    }
    .newimg {
        height: auto;
        width: 100%;
        z-index: 10;
        position: relative;
        top: 0px;
        padding: 0 25px;
    }
    .description-items {
        flex-direction: column;
        gap: 25px;
        padding-bottom: 30px;
    }
    .description-items__item {
        width: 100%;
        height: 100%;
    }
   
    .content-description {
        padding: 37px 13px;
    }
    .wall-of-love .wrapper {
        padding: 64px 15px;
    }
    .wall-of-love .wrapper .overviews__item .text {
        width: 90%;
    }
    .form-wrapper {
        padding: 50px 0px;
    }
    .form-wrapper .action {
        display: flex;
        justify-content: center;
    }
    .radius-form-button {
        width: 150px;
    }
    .section-title {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 800;
        font-size: 35px;
        line-height: 30px;
        /* or 120% */
        font-feature-settings: 'salt' on, 'liga' off;
        color: #000000;
    }
    .title {
        width: 100%;
    }
    .content-get-access .title {
        width: 100vh;
        padding-bottom: 9px;
        padding-top: 46px;
    }
    .light_box {
        height: 360px;
    }
    .content-get-access {
        gap: 0px;
        text-align: center;
        background-color: #F1E4FF;
    }
    .sale-card {
        gap: 30px;
        text-align: left;
    }
    .sale-card .icon {
        width: 40%;
    }
    .sale-card .icon img {
        width: 100%;
    }
    .sale-img img {
        width: 100%;
        height: auto;
    }
    .terms,
    .terms a {
        font-size: 9px;
    }
    footer {
        background: url(../img/footer_bg_mobile.svg) #000000 center bottom no-repeat;
        background-size: contain;
    }
    footer .footer-top {
        padding-bottom: 10px;
    }
    footer .rights {
        width: 60%;
        display: block !important;
    }
    footer .rights img {
        height: 12px;
        padding: 0px !important;
    }
    footer .footer-logo {
        padding-bottom: 44px;
    }
    footer .apps {
        font-weight: 500;
        font-size: 12px;
        line-height: 28px;
        /* or 233% */
        display: flex;
        align-items: center;
        font-feature-settings: 'salt' on, 'liga' off;
        color: #FFFFFF;
    }
    footer .footer-bottom {
        justify-content: center !important;
        flex-direction: row;
        align-items: center;
        padding: 10px 0px;
    }
    footer .rights {
        font-size: 12px;
    }
}

@media screen and (min-width: 1200px) {
    .app {
        height: 40px;
    }
    .newimg img {
        height: 615px;
        width: 1000px;
        z-index: 10;
        position: absolute;
        top: -298px;
        padding: 0px 13px;
    }
    .action-button {
        padding-top: 30px !important;
        padding-bottom: 260px;
        text-align: center;
    }
    .light_box {
        display: block;
        width: 100%;
        height: 396px;
        background: #fff;
    }
    .newimg {
        height: auto;
        width: 100%;
        z-index: 10;
        position: relative;
        top: 0px;
        padding: 0 25px;
    }
    .content-top p {
        font-size: 19px;
        line-height: 35px;
        letter-spacing: -0.5px;
        margin-bottom: 25px;
        width: 976px;
    }
    .content-top h1 {
        font-weight: 900;
        font-size: 58px;
        line-height: 75px;
        letter-spacing: 0.5px;
        padding-bottom: 13px;
    }
}
